.Landing {
  text-align: center;
}

.Game {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Instructions {
  background-color: white;
  display: flex;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Instructions-Inner {
  z-index: 5;
  border: 1rem solid #528cdb;
  background-color: white;
  padding: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.GameOver {
  background-color: white;
  display: flex;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Backdrop {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
}

.GameOver-Inner {
  z-index: 5;
  border: 1rem solid #528cdb;
  background-color: white;
  padding: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#Top {
  flex: 1;
  border: 1rem solid #b8b8b8;
  font-size: xx-large;
  position: relative;
}

#Bottom {
  flex: 1;
  border: 1rem solid #528cdb;
  font-size: xx-large;
  position: relative;
  cursor: pointer;
}

img {
  object-fit: contain;
}

button {
  border: none;
  background-color: #30d776;
  border-radius: 4rem;
  color: black;
  padding: 0.75rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}

.Leaderboard {
  background-color: white;
  padding: 2rem;
}

.HowToPlay {
  background-color: white;
  display: flex;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.HowToPlay-Inner {
  z-index: 5;
  padding: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.HowToPlayImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

li {
  text-align: left;
}
